*{
    padding: 0 ;
    margin : 0 ;
    outline: none ;
}

/** 媒體庫 CSS */
#darkBox{
    background:rgba( 16 , 16 , 16 , 0.85) ;
    z-index: 99999;
    position:fixed ;
    display: flex ;
    justify-content: center ;
    display:none ;
    left:0 ; top:0 ;
    height: 100% ;
    width:100% 
}

#darkBox[show=true]{
    display: block ;
}

#darkBox > .render{
    z-index: 100000 ; position: fixed ;
    border-radius: 10px ; max-width: 1350px ;
    width: 85% ; left: 50% ; top:50% ;
    background-color: rgb( 193 , 193 , 193 , .95 ) ;
    transform: translate( -50% , -50% );
    min-height: 650px ;
}

#darkBox > .render .content{
    display:flex ;
    height: 100%;
    max-height: 670px ;
}

#darkBox > .render .left{
    flex-basis: 70%  ;
    overflow: scroll ;
    overflow-x: hidden ;
    display: flex   ;
    justify-content: flex-start ;
    flex-wrap: wrap    ;
    align-self: center ;
    padding: 15px 0px  ;
    max-height: 65vh   ;
}

#darkBox .images > div{
    flex-basis: calc( 100% / 5.8 );
    margin:5px ; height: 200px ;
}

#darkBox .images > div.picture img {
    width: 100% ; height: 100%;
}

#darkBox > .render .right { flex-basis: 25% ; align-self: center; }

#darkBox .edit-context , #darkBox .edit-context > div{
    display: flex ; flex-direction: column ;
    justify-content: center ;
}

#darkBox .edit-context > div{ margin:15px auto ; width: 100% ; }

#darkBox .edit-context a{
    font-size: 18px ;
}

#darkBox input[type=text]{
    line-height: 2  ; font-size: 18px ;
    padding:5px     ; background:transparent ;
    border: none    ;
}

#darkBox > .render .left::-webkit-scrollbar {
    display: none ;
}


.render > div.title{
    background-color: rgba( 93 , 173 , 255 , .7 ) ;
    border-bottom: 1px solid black ;
    padding: 0 0 0 25px ;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
}

.render > div.title > a{
    font-size: 32px     ; line-height: 2.5 ;
    letter-spacing: 2px ; color:black    ;
    font-family: Microsoft JhengHei ;
}


/** 後台 CSS */
.dashboard a:hover{
    text-decoration: none ;
}

.dashboard{
    background:rgba( 224 , 230 , 236 , .52 ) ;
    position:  relative ; padding: 0 0 0 300px ;
    min-height: 100vh ;
}

.dashboard > .sideBar {
    width:  250px ; height: 100vh ;
    max-height: 100vh ; position: fixed ;
    left: 0 ; top:0 ; background:#2d3b4a ;
}

.dashboard > .content , #productFrom {
    padding: 80px 0 0 50px ; 
    display: flex ;
    justify-content: flex-start ;
    flex-direction: column ;
}

.dashboard > .content > div , div.edit {
    margin: 40px auto ; width:95% ;
}

div.edit > input[type=text]{
    width: 100%     ; border: none      ;
    line-height: 2  ; font-size: 18px   ;
    color: black  ; max-height: 380px ;
    padding: 0 15px ;
}

div.note-editable{ background: white ; height: 50vh !important ; }

div.edit.detial{ background:#fff ; }

div.edit.detial .section-list{
    background-color: #2d3b4a ;
}

div.edit.detial .section-list a {
    display: inline-block ;
    padding: 0 15px   ; font-size: 15px        ;
    line-height: 2.5  ; letter-spacing: 2px    ; 
    color: #fff     ; cursor: pointer        ;
}

div.edit.detial .section-list a:hover{
    background-color: rgba(0,0,0,.8);
}

.section-item{ padding: 10px ; }

.section-item section{
    display: none ; min-height: 160px ;
}

section.selected{
    display: flex ; justify-content: space-around ;
    flex-direction: column ;
}

section.selected input{
    padding: 5px ; border: none ;
    border-bottom: 1px solid black ;
    font-size: 15px ;
}

section.selected#gallery{
    display: flex ;  flex-direction: row ;
    justify-content: flex-start ;
}

.picture{
    flex-basis: 150px ; display: flex ;
    flex-direction: column  ; justify-content: center ;
    position: relative ; cursor: pointer    ;
    margin: 0 5px ;
}

.picture.no-image{ position: relative ; }

.picture.no-image::before{
  content: "新增圖片"    ;  color: black ;
  font-size: 15px       ;  position: absolute ;
  left:50% ; top:50%    ;  transform: translate(-50%,-50%);
  pointer-events: none  ;  letter-spacing: 2px ;
}

.picture.preview{
    display: flex ;
    position:relative ;

}

.picture.preview > img {
    height:80% ;
    align-self: center ;
}

.picture.preview > a{
    position: absolute ; right: 15px ; top:20px ;
    font-size:25px ; color: orange ;
}

.edit-block{
    margin: 5px 0 ;
}


.sideBar .profile{
    display: flex ;
    flex-direction: column ;
}

.sideBar .profile > div{
    padding:10px ;
    text-align: center;
}

.sideBar .profile a {
    display: inline-block;
    text-align: center ;
    color:#fff ;
    padding:0 10px ;
    line-height: 1.5 ;
}

.sideBar ul li {
    margin:10px 0 ;
}

.sideBar li a {
    display: block ;
    font-size: 18px ;
    line-height: 2;
    color:#fff ;
    text-align: center ;
}

.list-container{
    background:#fff ;
    border-radius: 10px ;
    min-height: 900px ;
    display: flex ;
    flex-direction: column;
    justify-content: space-around ;
}

 .render-item{
    display: flex ; cursor: pointer ;
    justify-content: space-around;
    margin: 25px auto 0 auto ;
}

.list-container .products{
    flex-basis: 650px ;
}

.render-item:hover {
    background:rgba(147, 226, 240, 0.247);
}

.render-item > div {
    align-items: center ; text-align: center ;
    flex-basis: 100px   ; display: flex ;
}

.render-item > div:first-child{
    flex-basis: 250px;
}

.render-item > div:last-child{
    flex-basis: 200px ;
    justify-content: space-around;
}



.render-item > div a {
    display: inline-block ; line-height: 2.5 ;
    font-size: 15px ; align-self: center ;
}

.render-item > div:first-child a {
    text-align: left ;
}

#parginInfo{
    display: flex ; justify-content: flex-end ;
    width: 80% ; margin: 0 auto ;
}

#parginInfo > a {
    font-size: 18px;
    display: inline-block ;
    padding:5px ;
    align-self: center ;
    cursor: pointer ;
    margin: 0 10px ;
}

#parginInfo > a:hover{
    background:rgba(28, 76, 121, 0.3);
}

#productForm > div:last-child{
    padding: 10px 0 ;
    text-align: right ;
    width: 85% ;
    margin:0 auto ;

}

#productForm > div:last-child input
{
    border:none ;
    background:rgba(21, 78, 116, 0.842);
    line-height: 2.5 ;
    color:#fff ;
    border-radius: 5px;
    display: inline-block ;
    padding:0 15px ;
    font-size: 18px ;
}

#orderDialog{
    position: fixed ; left:0 ; top:0 ;
    background-color: rgba(0,0,0,.65) ;
    height: 100%;
    width: 100% ;
    z-index: 99999;
}

#orderDialog > div.content{
    background:#fff ;
    width: 35vw ; height: 55vh;
    position: fixed ;
    left:50% ; top:50% ;
    transform: translate(-50% , -50% );
    z-index: 100000;
    padding:5px ;
    display: flex ;
    flex-direction: column ;
}

#orderDialog > div.content > div:first-child{
    flex-grow: 1;
    text-align: center;
}

#orderDialog > div.content > div:first-child ,
#orderDialog > div.content > div:last-child{
    font-size: 35px;
}

#orderDialog > div.content > div:nth-child(2){
    flex-grow: 5;
}

#orderDialog > div.content > div:nth-child(2) p {
    line-height: 2.5;
    font-size:  15px ;
}

#orderDialog > div.content > div:nth-child(2) p:hover{
    background:rgba(147, 196, 219, 0.678);
}

#orderDialog > div.content > div:last-child{
    flex-grow: 1;
    text-align: right;
    display: inline-block ;
    padding: 0 25px ;
}
