*{
    padding: 0;
    margin: 0  ;
}

a[href]{
    color:black ;
    text-decoration: none ;
}

.navbar{
    position: fixed ;
    top: 0; left: 0 ;
    width: 100% ;
    height: 60px ;
    display: flex ;
    justify-content: space-between ;
    background:rgb(56, 56, 56) ; 
    z-index:  999999;
}

.navbar a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px ; color: #fff ;
}

.navbar .item-container{
    display: flex ; width: 200px  ;
    justify-content: space-around ;
    align-self: center ;
}

.navbar .item-container > div{
    display:  flex; 
    flex-direction: column ;
    justify-content: center ;
}

.goHome{
    align-self: center ;
    display: inline-block ;
    width: 100px ;
    padding:0 15px ;
    font-size: 20px ;
    font-weight: 1000;
    letter-spacing: 3px ;
    color: #fff ;
}

.item-container a{
    position: relative ;
 }

.content-wrapper{
    min-height: 65vh;
    margin-top: 150px ;
}

.footer{
    background-image :url("/media/shop_bg.jpg") ;
    background-size  :cover ;
    min-height: 25vh ;
    position: relative ;
    display: flex ;
    justify-content: center;
}

.footer::before{
    position: absolute ; content: "";
    left:0 ; top:0 ; z-index: 0 ;
    background: rgba(202, 202, 202, 0.5);
    width: 100% ; height: 100% ;
}

.footer a {
    font-size: 28px   ;
    font-weight: 1000 ;
    color: #fff ;
    align-self: center ;
    z-index: 1;
}

.icon{
    position: relative ;
    display: inline-block ;
    width: 35px ; height: 35px ;
}

.icon::before{
    content:"" ; position: absolute;
    left:50% ; top:50% ;
    pointer-events: none ;
    width: 100%; height: 100% ;
    transform: translate( -50% , -50% );
    background-size: 80% 80% ;
    background-repeat: no-repeat ;
}

.icon.cart::before{
    background-image: url("/media/cart.svg");
}

.products{
    width:70% ;
    margin: 0 auto ;
}

.products > div{
    margin: 15px 0 ;
}

.products .title{
    text-align: center;
    font-size: 45px ;
}

.products .product-list {
    display: flex ;
    justify-content: space-around ;
    flex-wrap: wrap ;
}

.product-list > div {
    flex-basis:calc( 100% / 5 );
    margin: 10px ;
    position: relative ;
    box-shadow: 0 0 5px;    
    border-radius: 5px ;
}

.product img {
    width:80% ;
    height:200px ;
    margin: 0 auto ;
    display: block ;
}

.product > div{
    margin: 15px 0 ;
}

.info > div:first-child{
    text-align: center;
}

.info > div:first-child a{
    font-size: 25px ;
    line-height: 2  ;
}

.product > a.disocunt{
    position: absolute ;
    right: 0 ; display: block ;
    width: 30px ; height: 100px ;
    transform: rotateY(-35deg) translate( 50% , 0% );
    background:orange ;  word-wrap: wrap ;
    text-align: center  ;  color:#fff ;
    font-weight: 1000 ; 
}

.pagin-btns{
    text-align: right ;
}

.pagin-btns > a{
    color:rgb(59, 150, 192) ;
    display: inline-block ;
    width:35px ; line-height: 2 ;
    font-size: 35px ;

}

.pagin-btns > a.active{
    color: red ;
}


.detial , .shop{
    display: flex ;
}

.detial{
    justify-content: flex-start ;
}

.shop{
    justify-content: space-around ;
}

.detial a , .shop a {
    align-self: center ;
    font-size:20px ;
    line-height: 2;
    padding:0 5px ;
}

.shop a{
    font-size:15px ;
}

@media( max-width:1200px )
{
    .products{
        width:95% ;
    }
}

.product-page {
    width:60% ; 
    margin: 0 auto ;
}

.detail > .section {
    border-bottom: 1px solid black ;
    margin: 0 0 10px 0 ;

}

.detail > .section a {
    font-size: 23px    ;
    line-height: 2     ;
    padding-left: 10px ;
    font-weight: 1000;
}

.product-page .baseInfo{
    display: flex;
    justify-content: space-around ;
}

.detail > .introduce {
    padding: 15px 5px ;
}

.product-page .baseInfo > div {
    display:flex ;
    flex-direction: column ;
    justify-content: space-around ;
}

.baseInfo a{
    font-size: 25px ;
}

.baseInfo > div.right{
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
}

.baseInfo > div.right > div{
    margin:15px 0 ;
}

a.productName{
    font-size: 25px ;
    letter-spacing: 2.5px ;
    font-weight: 1000 ; 
}

.right > div.share {
    display: flex ;
    justify-content: flex-start ;
}

.right > div.share > div {
    margin:0 10px ;
}

a[active]{
    display: inline-block ;
    padding: 5px 10px ; cursor: pointer ;
    color:  #fff    ; font-size: 18px ;
    font-weight: 600;
    border-radius: 10px;
}

a[active=addCart]{
    background:rgb(29, 138, 189) ;
}

a[active=inCart]{
    background:red ;
}


.baseInfo .preview {
    position: relative;
}

.baseInfo .preview::before{
    content: "";
    position: absolute ;
    bottom: -5px ; left: 0px ;
    width: 100%; height:1px ;
    transform: scaleX(2);
    background:rgb(44, 112, 158) ;
}

.baseInfo .gallery a {
    padding: 15px 10px ;
    display: inline-block ;
}

#shop-cart .products{
    max-width: 800px ;
    border-bottom: 1px solid black ;
}

#shop-cart .products > div{
    align-items: center ;
}

#shop-cart .products input[type=number]{
    width: 60px ; font-size: 15px ;
    line-height: 1.5; text-align: center ;
}

#shop-cart .product{
    display: flex ;
    justify-content: space-around ;
}

#shop-cart .product > div{
    flex-basis: calc( 100% / 5.2 ) ;
    text-align: center ;
}

#shop-cart a {
    color:black ;
}



#shop-cart img{
    width:100px; height:70px ;
}

#shop-cart .checkArea{
    margin: 10px auto 0 auto ;
    display: flex ;
    justify-content: flex-end ;
    max-width:800px ;
    padding:15px 0 ;
}

#shop-cart .checkArea a {
    display: inline-block ;
    line-height: 2 ;
    font-size:18px ;
    padding: 0 15px ;
    color: black ;
    font-weight: 600;
    margin: 0 15px ;
}

a[active=buyNow]{
    background:rgba(145, 203, 230, 0.788) ;
    border-radius: 5px ; cursor: pointer ;
    color: #fff ;
}
