.main {
    justify-content: space-around;

    // 麵包屑
    & > nav {
        flex-basis: 5%;

        ol.breadcrumb {
            background-color: transparent;
        }
        li.breadcrumb-item:not(.active) a {
            color: black;
        }
    }

    //主要內容區塊
    & > .render {
        flex-basis: 80%;
        & > div {
            height: 100%;
            width: 80%;
            margin: 0 auto;
        }
    }

    //表單驗證區塊
    .valid-field span {
        line-height: 2.5;
        font-size: 12px;
        color: red;
        padding: 0 0 0 10px;
    }

    @media (min-width: 1200px) {
        width: calc(100% - 285px);
        float: right;
    }

    overflow: auto;
}
